<p>Routing</p>
<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
       routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"
      routerLink="/products">Our Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" 
      routerLink="contact">Contact and Support</a>
    </li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
 
  